<?xml version="1.0" encoding="UTF-8"?>

<data>
	<chamber>
		<channel>0</channel>
		<process>
			<type>CO2</type>
			<kP>-0.0001</kP>
			<kI>-0.00001</kI>
			<kD>-0.0001</kD>
			<outMin>0</outMin>
			<outMax>1</outMax>
			<timepoint>
				<time>8am</time>
				<target>1000</target>
			</timepoint>
			<timepoint>
				<time>6pm</time>
				<target>0</target>
			</timepoint>
		</process>	
		<process>
			<type>O3</type>
			<kP>-0.0001</kP>
			<kI>-0.00001</kI>
			<kD>-0.0001</kD>
			<outMin>0</outMin>
			<outMax>1</outMax>
			<timepoint>
				<time>8am</time>
				<target>75</target>
			</timepoint>
			<timepoint>
				<time>6pm</time>
				<target>150</target>
			</timepoint>
		</process>
	</chamber>
	<chamber>
		<channel>1</channel>
		<process>
			<type>CO2</type>
			<kP>-0.0001</kP>
			<kI>-0.00001</kI>
			<kD>-0.0001</kD>
			<outMin>0</outMin>
			<outMax>1</outMax>
			<timepoint>
				<time>8am</time>
				<target>0</target>
			</timepoint>
			<timepoint>
				<time>6pm</time>
				<target>1000</target>
			</timepoint>
		</process>
		<process>
			<type>O3</type>
			<kP>-0.0001</kP>
			<kI>-0.00001</kI>
			<kD>-0.0001</kD>
			<outMin>0</outMin>
			<outMax>1</outMax>
			<timepoint>
				<time>8am</time>
				<target>75</target>
			</timepoint>
			<timepoint>
				<time>6pm</time>
				<target>150</target>
			</timepoint>
		</process>
	</chamber>
</data>